.loading {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #7f10e9;
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
  .loading-text {
    span {
      font-size: 32px;
      font-weight: 900;
      color: #ffffff;
    }
  }
}
