@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $mainBackgroundColor;
  font-family: $regularYekanBakh;
  -webkit-text-size-adjust: 100%;
  direction: rtl;
  overflow-x: hidden;
}

.container {
  margin: 0 auto;
  max-width: 1170px;
}

a{
  text-decoration: none;
}

.row {
  display: flex;
}

.row-reverse {
  flex-direction: row-reverse;
}

.text-center {
  text-align: center;
}

.d-flex {
  display: flex;
}

.d-grid {
  display: grid;
}

.top {
  top: 0;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.bottom{
  bottom: 0;
}

.flex-column {
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-spece-between {
  justify-content: space-between;
}

.justify-spece-around {
  justify-content: space-around;
}

