@font-face {
  font-family: YekanBakh-Regular;
  src: url(../fonts/YekanBakh-Regular.ttf);
  font-display: swap;
}

@font-face {
  font-family: YekanBakh-Bold;
  src: url(../fonts/YekanBakh-Bold.ttf);
  font-display: swap;
}

@font-face {
  font-family: YekanBakh-Fat;
  src: url(../fonts/YekanBakh-Fat.ttf);
  font-display: swap;
}

