@import "../fonts/fonts";

$fatYekanBakh: "YekanBakh-Fat", sans-serif;
$boldYekanBakh: "YekanBakh-Bold", sans-serif;
$regularYekanBakh: "YekanBakh-Regular", sans-serif;
$mainBackgroundColor: #f4f5f6;
$textColor: #263238;
$activeMenu: #311b92;
